.jumbotron {
  background-image: url("../Images/subway\ train\ title\ img.jpeg");
  color: white;
}

body {
  background-image: url("../Images/NYC\ background\ img.jpeg");
}

.panel-heading {
  background-color: blue;
}

.panel > .panel-heading {
  background-image: none;
  background-color: #ddd;
  color: grey;
}
